html,
body {
   // height: 100%;
   overflow-x: hidden;
}

body {
   color: #333;
   font-size: 16px;
   line-height: 1.6rem;
   @extend %rob-400;
   display: flex;
   flex-direction: column;
}

main {
   flex-grow: 1;
}

a {
   color: $default;
   font-size: 16px;
   line-height: 24px;
   @extend %rob-400;
}

button {
   border: none;
   outline: none;
}

ul:not([class]) {
   list-style: disc;
   padding-left: 30px;
}

.container {
   max-width: 1584px;
   width: 100%;
   margin: 0 auto;
   padding: 0 40px;
}
.hidden {
   display: none;
}
.btn {
   color: #fff;
   background-color: $accent;
   padding: 14px 75px;
   border-radius: 8px;
   line-height: 20px;
   @extend %rob-700;
   cursor: pointer;
   transition: all 0.3s;
}
.btn:hover {
   background-color: #136cb6;
}
.header__top-menu li {
   a.active {
      @extend %rob-700;
      border-radius: 1px;
      border-bottom: 2px solid #fff;
   }
}
h1 {
   color: #fff;
   font-size: 48px;
   line-height: 120%;
   @extend %rob-700;
}

h2,
.title {
   @extend %rob-700;
   font-size: 32px;
   line-height: 38px;
   color: #333333;
   margin-bottom: 32px;
}
.desc-hidden {
   display: none;
}
.table-hidden {
   display: block;
}
.form__file {
   svg {
      margin-right: 12px;
   }
}
.calculate-project {
   &__wrapper {
   }
}
.form-block-popup,
.form-block-poup {
   position: fixed;
   z-index: 10000;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   background: rgba(51, 51, 51, 0.7);
   text-align: left;
   -webkit-animation: shadow 0.3s;
   animation: shadow 0.3s;
}
@-webkit-keyframes shadow {
   from {
      opacity: 0;
   }
   to {
      opacity: 1;
   }
}
@keyframes shadow {
   from {
      opacity: 0;
   }
   to {
      opacity: 1;
   }
}
.form-block.popup {
   max-width: 480px;
   width: 100%;
   background-color: #fff;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   padding: 32px;
   margin: 0;
   border-radius: 16px;
   .form__textarea {
      min-height: 148px;
   }
   .title {
      font-size: 22px;
      line-height: 24px;
      margin-bottom: 0;
   }
   .title + p {
      margin: 12px 0 32px;
   }
   .input__file {
      width: 192px;
      margin: 16px 35px 32px 0;
      svg {
         margin-right: 8px;
      }
   }
   .form__file {
      align-items: center;
      margin-bottom: 0;
   }
   .file {
      margin-right: 0;
   }
   .file + p {
      position: relative;
      top: -10px;
   }
   .btn {
      max-width: 100%;
      font-size: 14px;
      line-height: 20px;
   }
   .privat-policy,
   .privat-policy a {
      font-size: 14px;
      line-height: 20px;
   }
   .privat-policy {
      max-width: 315px;
      display: inline-block;
   }
   & svg.btn-back {
      position: absolute;
      right: 16px;
      top: 16px;
   }
   .licence__block {
      text-align: left;
   }
   .form__label {
      text-align: left;
   }
}
div.popup.phone-call-back {
   max-width: 480px;
   z-index: 10;
}

.main-text__info span {
   @extend %rob-700;
}
.call-back-btn,
.btn-back {
   cursor: pointer;
}
.licence__block {
   input {
      position: absolute;
      z-index: -1;
      opacity: 0;
      & + label::before {
         content: "";
         top: -2px;
         left: 0;
         position: absolute;
         display: inline-block;
         width: 24px;
         height: 24px;
         flex-shrink: 0;
         flex-grow: 0;
         border: 1px solid #d5dee3;
         background-color: #fff;
         border-radius: 6px;
         margin-right: 16px;
         background-repeat: no-repeat;
         background-position: center center;
         background-size: 50% 50%;
         cursor: pointer;
      }
   }
   input:checked + label::before {
      background-image: url("../images/check.svg");
      background-size: 65%;
      background-position: 4px 6px;
   }
   label {
      display: block;
      user-select: none;
      position: relative;
      padding-left: 40px;
   }
}
.header__bottom-menu .hidden {
   display: inline-block;
}
.header__top .menu-mobile__item a.active {
   color: #999999;
}
.questions .content li {
   margin-bottom: 30px;
}
.capitalize {
   text-transform: lowercase;
}

.first-block {
   &__inner {
      height: 400px;
   }
}
@media (max-width: 1200px) {
   .first-block {
      &__inner {
         height: 224px;
      }
   }
   .header__bottom-menu .hidden {
      display: none;
   }
   .capitalize {
      text-transform: capitalize;
   }
   h2 {
      font-weight: 700;
      font-size: 28px;
      line-height: 32px;
   }
   .desc-hidden {
      display: block;
   }
   .table-hidden {
      display: none;
   }
   .btn {
      font-size: 14px;
      line-height: 20px;
      padding: 14px 35px;
      max-width: 352px;
      width: 100%;
   }
   div.back-call__btn.btn {
      max-width: 248px;
      height: 40px;
      padding: 9px;
      cursor: pointer;
      font-family: "Roboto-Medium", sans-serif;
      font-weight: 500;
   }
   .form-block.popup {
      max-width: 512px;
      border-radius: 12px;
      & svg.btn-back {
         position: absolute;
         right: 16px;
         top: 16px;
      }
      .title {
         font-size: 16px;
         line-height: 24px;
      }
      .title + p {
         margin: 8px 0 32px;
         font-size: 14px;
      }
      .input__file {
         width: 216px;
         margin: 12px 16px 32px 0;
      }
      .form {
         margin: 0 auto;
      }
      .form__file {
         flex-direction: row;
      }
   }
   .form-block .privat-policy + .btn {
      max-width: 100%;
   }
   .questions .content li {
      margin-bottom: 10px;
   }
}

@media (max-width: 767px) {
   .questions .content li {
      margin-bottom: 5px;
      font-size: 14px;
   }
   h2 {
      font-weight: 700;
      font-size: 18px;
      line-height: 24px;
   }
   .container {
      padding: 0 24px;
   }
   .form-block.popup {
      top: 0;
      transform: translate(0);
      left: 0;
      padding: 48px 24px;
      max-width: 100%;
      & svg.btn-back {
         position: absolute;
         right: 16px;
         top: 16px;
      }
      .title {
         font-size: 16px;
         line-height: 24px;
         text-align: left;
      }
      .title + p {
         margin: 8px 0 32px;
         text-align: left;
      }
      .input__file {
         width: 181px;
         margin: 12px 12px 24px 0;
         font-size: 14px;
         line-height: 20px;
      }
      .file + p {
         display: block;
         text-align: left;
      }
   }
   .last-page {
      .breadcrumbs__link:first-child {
         display: none;
      }
   }
   .last-page.engineering-survey,
   .last-page.aerial-photography {
      .breadcrumbs__link:first-child {
         display: block;
      }
   }
   .breadcrumbs {
      &__wrapper {
         padding: 24px 0 !important;
      }
      a {
         font-size: 12px;
         line-height: 16px;
      }
      span {
         display: none;
      }
      &__link {
         padding-left: 20px !important;
         position: relative;
         color: #999 !important;
         &::before {
            content: "";
            position: absolute;
            width: 24px;
            height: 24px;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            background: url("../images/arrow-bc.svg") no-repeat -50% center;
         }
         &.active {
            display: none;
         }
      }
   }
}
.first-block {
   &__inner {
      padding-left: 64px !important;
   }
}
@media (max-width: 500px) {
   .form-block.popup {
      max-width: 100%;
      border-radius: 0px;
      padding: 48px 24px;
      min-height: 100vh;
      overflow-y: scroll;
   }
   .form-block-popup {
      overflow-y: scroll;
   }
   .first-block {
      &__inner {
         padding-left: 32px !important;
      }
   }
}
@media (max-width: 449px) {
   .first-block {
      &__inner {
         height: 184px;
      }
   }
}

.iti__flag {
   background-image: url("../phone/img/flags.png");
}
.iti__selected-flag {
   margin: 4px;
   height: 40px;
   width: 54px;
   border-radius: 7px;
   background-color: #f2f2f2;
}
.iti--allow-dropdown input,
.iti--allow-dropdown input[type="tel"],
.iti--allow-dropdown input[type="text"],
.iti--separate-dial-code input,
.iti--separate-dial-code input[type="tel"],
.iti--separate-dial-code input[type="text"] {
   padding-left: 65px;
   width: 100%;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
   .iti__flag {
      background-image: url("../phone/img/flags@2x.png");
   }
}
