$default: #333333;
$title: #15181d;
$bg: #ececec;
$accent: #1c77c3;

%rob-400 {
   font-family: "Roboto-Regular", sans-serif;
   font-weight: 400;
}

%rob-500 {
   font-family: "Roboto-Medium", sans-serif;
   font-weight: 500;
}

%rob-700 {
   font-family: "Roboto-Bold", sans-serif;
   font-weight: 700;
}
